In [88]:
import requests
from bs4 import BeautifulSoup 
import csv
from itertools import zip_longest
import pandas as pd

In [89]:
book_title = []
book_price = []
book_rate = []

In [90]:
result = requests.get('http://books.toscrape.com/catalogue/category/books/science_22/index.html')
src = result.content

In [91]:
soup = BeautifulSoup(src, "lxml")

In [95]:
 title = soup.find_all("h3")
 price = soup.find_all("p",{"class":"price_color"})
 rate = soup.find_all('p',{'class':'star-rating'})

In [96]:

for i in range(len(title)):
  book_title.append(title[i].text)
  book_price.append(price[i].text)
  book_rate.append(rate[i].attrs['class'][1])

In [97]:
file_list = [book_title, book_price, book_rate]
exported = zip_longest(*file_list)
with open ("/content/D:\AI\scraping.csv", "w") as myfile:
  wr = csv.writer(myfile)
  wr.writerow(["book_title", "book_price", "book_rate"])
  wr.writerows(exported)

In [98]:
pd.read_csv('/content/D:\AI\scraping.csv')

                                 book_title book_price book_rate
0               The Most Perfect Thing: ...     £42.96      Four
1        Immunity: How Elie Metchnikoff ...     £57.36      Five
2                 Sorting the Beef from ...     £44.74      Four
3              Tipping Point for Planet ...     £37.55       One
4                     The Fabric of the ...     £55.91       One
5                    Diary of a Citizen ...     £28.41       One
6                     The Origin of Species     £10.01      Four
7                          The Grand Design     £13.76     Three
8                Peak: Secrets from the ...     £16.28       Two
9   The Elegant Universe: Superstrings, ...     £13.03      Four
10          The Disappearing Spoon: And ...     £57.35      Five
11            Surely You're Joking, Mr. ...     £25.83       Two
12               Seven Brief Lessons on ...     £30.60      Four
13                         The Selfish Gene     £29.45       One